* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: .2s;
  color: #007fff;
}

a:hover {
  color: #000;
  transition: .2s;
}

/* HEADER */

.container {
  border-bottom: 1px solid #ededed;
}

.bg-gradient {
  max-width: 1100px;
  min-width: 800px; 
  margin: 0 auto;
  background-image: repeating-linear-gradient(to right, #ededed 0px,#fff 2px, #fff 24.98%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.header-nav {
  width: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-item {
  margin: 0 20%;
  transform: translateX(20%);
}

.profile-logo {
  display: inline-block;
  width: 52px;
  height: 52px;
  background-image: url(../assets/avatar.png);
  background-size: cover;
}

.nav-item .link {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
}

.heading-title {
  margin-top: 114px;
  font-size: 3em;
  text-align: center;
  line-height: 1.25;
}

.social-icons-list {
  display: flex;
  margin-top: 57px;
}

.soc-logo {
  margin-right: 30px;
}

.soc-logo:last-child {
  margin-right: 0px;
}

.soc-link {
  display: inline-block;
  vertical-align: middle;
  transform: rotate(-360deg);
  transition: 0.2s;
}

.soc-link:hover {
  transform: rotate(360deg);
  transition: 0.2s;
}

.twitter-logo {
  width: 17px;
  height: 13.8px;
  background: url(../assets/twitter-logo.png) no-repeat;
  background-size: cover;
}

.be-logo {
  width: 20.8px;
  height: 13px;
  background: url(../assets/be-logo.png) no-repeat;
  background-size: cover;
}

.instagram-logo {
  width: 16px;
  height: 16px;
  background: url(../assets/instagram-logo.png) no-repeat;
  background-size: cover;
}

/* MAIN */

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
}

/* WORKS-SECTION */

.works-section {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.works-section::before {
  content: 'works';
  position: absolute;
  transform: rotate(-90deg);
  left: -10%;
  top: 2%;
  font-size: 0.8em;
  font-weight: 900;
  color: #979797;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.column {
  width: 47.41%;
}

.work {
  position: relative;
}

.work-title {
  position: absolute;
  bottom: 110px;
  left: 60px;
  font-size: 1.75em;
  font-weight: 900;
  line-height: 1.29;
  color: #fff;
}

.featured {
  position: absolute;
  bottom: 210px;
  left: 60px;
  padding: 3px 15px; 
  font-size: 0.8em;
  font-weight: 900;
  background-color: #ffe300;
  border-radius: 13.5px;
  color: #000;
  transition: 0.2s;
}

.featured:hover {
  padding: 3px 50px;
  transition: 0.2s;
}

.work-picture {
  max-width: 100%;
  margin-bottom: 55px;
}

/* ABOUT-SECTION */

.about-section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.about-section::before {
  content: 'about';
  position: absolute;
  transform: rotate(-90deg);
  left: -10%;
  top: 5%;
  font-size: 0.8em;
  font-weight: 900;
  color: #979797;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.slogan {
  max-width: 50%;
  margin-bottom: 60px;
}

.slogan:nth-child(odd) {
  padding-right: 50px;
}

.slogan:nth-child(even) {
  padding-left: 30px;
  padding-right: 50px;
}

.caption {
  font-size: 1.75em;
  font-weight: 700;
  margin-bottom: 30px;
}

.desc {
  font-size: 1em;
  line-height: 1.88;
  font-weight: 400;
}


.google {
  width: 129px;
  height: 43px;
  margin-right: 146px;
  background-image: url(../assets/google.svg);
  background-size: cover;
}

.airbnb {
  width: 138px;
  height: 43px;
  margin-right: 137px;
  background-image: url(../assets/airbnb.svg);
  background-size: cover;
}

.shape {
  width: 44px;
  height: 43px;
  background-image: url(../assets/shape.svg);
  background-size: cover;
}

/* LINKS-SECTION */

.links-section {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
}

.links-section::before {
  content: 'links';
  position: absolute;
  transform: rotate(-90deg);
  left: -10%;
  top: 10%;
  font-size: 0.8em;
  font-weight: 900;
  color: #979797;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
}

.link-list__item {
  display: flex;
  justify-content: space-between;
  min-width: 50%;
  margin-bottom: 30px;
}

.link-list__item:nth-child(odd) {
  padding-right: 30px;
}

.link-list__item:nth-child(even) {
  padding-left: 30px;
}

.link-list__item:last-child {
  margin-bottom: 0;
}

.year {
  margin-left: 5%;
  color: #979797;
}

/* FORM-SECTION */

.form-section {
  display: flex;
  justify-content: flex-start;
  max-width: 1100px;
  margin: 120px auto 0;
}

.form-title {
  display: flex;
  flex-direction: column;
  max-width: 230px;
  margin-right: 45px;
}

.form-title .caption {
  margin-bottom: 60px;
}

.form-title .desc {
  margin-bottom: 30px;
}

.form-title .social-icons-list {
  margin-top: 0;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 67%;
}

.input {
  border: 0;
  border-bottom: 1px solid #cfcfcf;
  line-height: 1.88;
  padding: 10px 0;
  color: #000;
  font-size: 1em;
  color: #007fff;
}

.input:focus {
  outline: none;
}

.textarea-input {
  resize: vertical;
  min-height: 50px;
  max-height: 500px;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}

.input::placeholder {
  font-family: 'Lato', sans-serif;
  color:#cfcfcf;
}

.input-label {
  font-size: 0.8em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.input-label:not(:first-child) {
  margin-top: 30px;
}

.submit-button {
  position: absolute;
  right: -90px;
  top: 0;
  width: 52px;
  height: 52px;
  background-image: url(../assets/send.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #cfcfcf;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
}

.submit-button:hover {
  box-shadow: 0 0 0px 2px #007fff;
  transition: .2s;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  padding-bottom: 120px;
  padding-top: 120px;
}

.copyright {
  font-size: 1em;
}

.footer-link:nth-child(2) {
  margin-left: auto;
  margin-right: 194px;
}

.footer-link {
  color: #979797;
}

