* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 
}

a {
  text-decoration: none;
  transition: .5s;
  color: #007fff;
}

a:hover {
  color: #000;
  transition: .5s;
}

.header-wrapper {
  min-width: 1200px;
}

.header {
  width: 1101px;
  margin-left: auto;
  margin-right: auto;
  background-image: repeating-linear-gradient(to right, #ededed 0px,#fff 2px, #fff 275px);
}

.header-nav {
  list-style: none;
  padding-top: 115px;
  position: relative;
}

.nav-list {
  list-style: none;
}

.nav-item {
  display: inline-block;
}

.nav-item:nth-child(1), .nav-item:nth-child(2) {
  float: left;
}

.nav-item:nth-child(1) {
  margin-right: 70px;
}

.nav-item:nth-child(4), .nav-item:nth-child(5) {
  float: right;
}

.nav-item:nth-child(4) {
  margin-left: 70px;
}

.link {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 900;
}

.logo-item {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.profile-logo {
  width: 52px;
  height: 52px;
  background: url(../assets/avatar.png) no-repeat;
  background-size: cover;
  transform: translateY(-25%);
}

.clearfix {
  clear: both;
}

.headline {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 134px;
  text-align: center;
}

.heading-title {
  font-size: 48px;
}

.socials {
  margin-top: 57px;
}

.social-icons-list {
  text-align: center;
}

.soc-logo {
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;
}

.soc-logo:last-child {
  margin-right: 0;
}

.twitter-logo {
  width: 17px;
  height: 13.8px;
  background: url(../assets/twitter-logo.png) no-repeat;
  background-size: cover;
}

.be-logo {
  width: 20.8px;
  height: 13px;
  background: url(../assets/be-logo.png) no-repeat;
  background-size: cover;
}

.instagram-logo {
  width: 16px;
  height: 16px;
  background: url(../assets/instagram-logo.png) no-repeat;
  background-size: cover;
}